body {
  background-image: url("../public/assets/img_mobile/backgroundimage2_mobile.jpg");
}

.hidden__mobile {
  display: none;
}

.container__flex {
  display: flex;
}

h1 {
  font-family: "DIN Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  text-align: right;
  line-height: 3rem;

  color: #f1dec4;
}

h2 {
  font-family: "Jonze & Jonzing";
  font-style: normal;
  font-weight: 400;
  font-size: 7rem;
  line-height: 164px;
  text-align: center;
  /* identical to box height, or 109% */

  color: #e74c14;
}

p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  color: white;
  text-align: center;
}
/*
.header__container {
  position: relative;
  height: 844px;
  background-image: url("../public/assets/img_mobile/backgroundimage1_mobile.jpg");
}

.container__adolphesax,
.container__saxophone,
.container__accidents,
.container__storyline__part2,
.container__quotes,
.container__downfall__jazzrock,
.container__johnson__texts,
.container__pinkfloyd,
.container__kennyg,
.container__michael__mobile {
  position: relative;
  height: 844px;
  background-image: url("../public/assets/img_mobile/backgroundimage2_mobile.jpg");
}

.container__johnson__texts,
.container__pinkfloyd {
  height: 204px;
}

.container__downfall__jazzrock,
.container__michael__mobile {
  height: 604px;
}

.container__kennyg {
  height: 400px;
}

.container__platehoezen {
  position: relative;
  height: 1152px;
  background-image: url("../public/assets/img_mobile/backgroundimage2_mobile.jpg");
}

.container__pop__backgroundimage {
  position: relative;
  height: 250px;
  background-image: url("../public/assets/img_mobile/tear__mobile.png");
  margin-top: -15%;
}

.container__sounds {
  position: relative;
  height: 1052px;
  background-image: url("../public/assets/img_mobile/background__song__mobile.png");
  margin-top: -10%;
}*/

.header__container__title {
  margin: 10rem 5rem 0rem 0rem;
}

.header__container__title-orange {
  font-family: "Jonze & Jonzing";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  text-align: right;

  color: #e74c14;
}

.saxophone {
  margin: -2rem auto;
  margin-bottom: 4rem;
}

.container__adolphesax__text {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;

  margin: auto;

  /* or 24px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #f1dec4;
}

.container__adolphesax__text-small {
  font-weight: 300;
}

.span__color-orange {
  color: #e74c14;
}

.container__adolphesax__adolphe {
}

.container__adolphesax__titel {
  font-family: "Jonze & Jonzing";
  font-style: normal;
  font-weight: 400;
  font-size: 9.4rem;
  line-height: 7.5rem;
  color: transparent;

  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #f1dec4;

  text-align: right;
  margin-top: -9.5rem;

  /* identical to box height, or 67% */
}

.container__title-downfall {
  font-family: "Jonze & Jonzing";
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;

  margin: 5rem 0rem 5rem 0rem;
  color: transparent;
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: #f1dec4;
}

.saxophone__detail {
  text-align: center;
  margin-top: 18rem;
}

.container__saxophone {
  position: relative;
}

.container__saxophone-details p {
  font-family: "DIN Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}

.container__saxophone-details {
  text-align: center;
}

.saxophone__detail-textone,
.saxophone__detail-texttwo,
.saxophone__detail-textthree,
.saxophone__detail-textfour,
.saxophone__detail-textfive {
  position: absolute;
}

.saxophone__detail-textone {
  top: 52.5%;
  left: 5%;
}

.saxophone__detail-texttwo {
  top: 36%;
  left: 46%;
}

.saxophone__detail-textthree {
  top: 67.5%;
  left: 23%;
}

.saxophone__detail-textfour {
  top: 57.5%;
  left: 72.5%;
}

.saxophone__detail-textfive {
  top: 80.5%;
  left: 80%;
}

.container__accidents__text {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;

  /* or 30px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #ffffff;
  margin: auto;
  margin-top: 12rem;
  width: 90%;
}

.container__accidents__title {
  font-family: "Jonze & Jonzing";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  width: 100%;
  /* identical to box height */

  color: #f1dec4;
  margin-top: 4rem;
}

.container__tears img {
  margin: auto;
}

.container__storyline__part1-title {
  font-family: "Jonze & Jonzing";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 150%;
  /* identical to box height, or 75px */

  text-align: center;
  width: 100%;

  /* orange_main */

  color: #e74c14;
}

.container__storyline__part1-text,
.container__storyline__part1-texttwo {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #ffffff;
  width: 90%;
  margin: 2rem auto;
  z-index: 1;
}

.container__storyline__part1-text {
}
.container__storyline__part1-texttwo {
  z-index: 1;
}

.storyline__duosax {
  margin-top: 10rem;
}

.storyline__images {
  margin-top: -8rem;
  z-index: -1;
}

.container__cds {
  position: relative;
}
.container__cds-cd {
  position: absolute;
}

.cds__two {
  top: 4%;
  right: 0;
}

.cds__one {
  margin-top: 2.5rem;
}

.container__quotes__text {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  width: 80%;
  margin: auto;
  text-align: center;
  left: 10%;
  /* or 30px */

  color: #ffffff;
}

.cd__titleone {
  position: absolute;
  margin-top: -2rem;
  margin-left: 5rem;

  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: #e74c14;
  font-size: 6rem;
}

.cd__titletwo {
  position: absolute;
  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: #ebd633;
  font-size: 5.25rem;

  margin-top: 15rem;
  margin-left: 10rem;
  top: 10%;
  z-index: -1;
}

.container__quotes-charlie {
  margin-bottom: 5rem;
}

.container__johnson__texts__text {
  color: white;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;

  text-align: center;
  margin-top: 25rem;
}

.rock__mobile {
  position: absolute;
  right: 0;
  z-index: -1;
}

.container__downfall__jazzrock-text {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  /* or 24px */

  text-align: right;
  letter-spacing: -0.011em;

  color: rgba(255, 255, 255, 0.8);
  width: 70%;
}

.jazzrock_text-jazz {
  margin: 5rem 0rem 0rem -5rem;
  z-index: 1;
}

.jazzrock_text-rock {
  text-align: left;
  margin-top: 8rem;
  margin-left: 2.5rem;
}

.container__pinkfloyd__text {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  /* or 30px */

  text-align: center;
  letter-spacing: -0.011em;
  margin: 10rem 0rem 0rem 0rem;

  color: rgba(255, 255, 255, 0.8);
}

.container__pinkfloyd__backgroundimage-title {
  font-family: "Jonze & Jonzing";
  font-style: normal;
  font-weight: 400;
  font-size: 6.5rem;
  line-height: 150%;

  color: transparent;
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: #f1dec4;

  z-index: 1;
}

.container__pinkfloyd {
  position: relative;
}

.pinkfloyd__image-mobile {
  position: absolute;
  top: 40%;
  z-index: -1;
}

.container__platehoezen__text {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  text-align: center;
  letter-spacing: -0.011em;

  /* orange_main */

  color: #000000;
}

.container__platehoezen {
  z-index: -1;
}

.platehoezen__textone {
  background-color: red;
}

.platehoezen__texttwo {
  margin-top: -66.5rem;
}

.platehoezen__textthree {
  margin-top: 52.5rem;
  margin-bottom: 5rem;
}

.container__platehoezen__texts {
  width: 90%;
  margin: auto;
}

.container__kennyg__text {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 5rem;

  /* or 30px */

  color: white;
}

.container__title-downfall__mobile {
  font-family: "Jonze & Jonzing";
  font-style: normal;
  font-weight: 400;
  font-size: 8.4rem;
  line-height: 164px;
  text-align: center;

  /* identical to box height, or 109% */

  color: #f1dec4;
}

.container__pop__backgroundimage {
  text-align: center;
  margin: auto;
}

.container__sounds__rock {
  margin: auto;
  width: 90%;
}

.container__pop__backgroundimage__text {
  margin: -10rem 0rem 5rem 0rem;
}

.container__sounds__image {
  margin-top: -3.4rem;
}

.container__sounds__text {
  margin-top: -57.5rem;
  margin-bottom: 22.5rem;
  color: black;
  width: 100%;
  text-align: center;
}

.container__lopez__backgroundimage__text {
  margin-top: 27.5rem;
  width: 80%;
  margin: auto;
  color: black;
}

.container__flex__mobile {
  display: initial;
}

.container__newsongss__image {
  position: absolute;
}

.container__newsongs {
  position: relative;
}

.image__song__one {
  z-index: -1;
  margin-top: -2rem;
}

.image__song__two {
  z-index: -1;
  right: 0;
  margin-top: -32.5rem;
}

.image__song__three {
  z-index: -1;
  left: 0;
}

.songs__title__mobile {
  color: #f1dec4;
  margin-top: 30%;
}

.songs__title__mobile-subtitle {
  margin-top: 15%;
  color: #f1dec4;
}

.container__newsongss__texts {
  width: 75%;
  margin: auto;
  padding-top: 7.5rem;
}

.container__newsongss__texts__arianda {
  width: 75%;
  margin: auto;
}

.container__newsongss__texts__title {
  font-size: 5rem;
  margin-bottom: 4rem;
}
